body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  background-color: #F9CAF8; 
  color: white;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
}

nav ul li a {
 text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover.
nav ul li a:focus{
  background-color: #588157;
  color: #FFD166;
  transform: scale(1.02);
  border-radius: 5px;
}

section {
  padding:20px;
  margin: 20px;
  border-style: 2px dotted black;
  box-shadow: 10px 10px 15px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover{
  transform: scale(1.02);
  box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}
th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #fffdd0;
  font-weight: bold;
}

tr:nth-child(3) td {
  border: 1px solid black;
}

tfoot td {
  text-align: center;
  background-color: #fffdd0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

form button {
  transition: background-color 0.3s ease;
  background: #FFD580;
  border: none;
  padding: 12px;
  font-size: 16px;
  color: black;
}

@media (max-width: 600px) {
  form {
      max-width: 90%;
      flex-direction: column;
      gap: 10px;
  }
}

@media (min-width:601px) and (max-width: 900px) {
  form{
      max-width: 700px;
      flex-direction: column;
      gap: 12px;
  }
}
@media (min-width: 901px) { 
  form{
      max-width: 800px;
      flex-direction: column;
      gap: 15px;
  }
}

form input:focus, form textarea:focus{
  border-color: #FFD580;
}

form button:hover{
  background-color: #FFB347;
}



